.image-grid {
    height: 30px;
}
.image-bell {
    height: 30px;
}
li {
    display: inline;
}
.header {
    text-align: right;
}
.content {
    padding: 20px;
    display: block;
    max-width: 475px;
    margin: 0 auto;
    text-align: center;
}
.logo {
    height: 180px;
    width: 372px;
}
.search input {
    display: block;
    width: 500px;
    margin: 48px auto;
    padding: 10px;
    outline: none;
    border: solid 0.5px #ddd;
    font-size: 16px;
}
button {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border-radius: 2px;
    margin: 0 4px;
    padding: 0 16px;
    min-width: 54px;
    color: #757575;
}
border:hover {
    border: 1px solid #c6c6c6;
    box-shadow: #222;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
}
.leftfooter {
    float: left;
}
.rightfooter {
    float: right;
}
footer a {
    display: inline-block;
    color: #666;
    padding: 50px;
    font-size: 13px;
}